  .gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(47, 57, 108);
  }
  
  .gallery-item {
    position: relative;
    width: 233px;
    margin: 10px;
  }
  
  .gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  
  .modal-content img {
    width: 420px;
    height: 510px;
    object-fit: cover;
  }
  
  .arrow-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: rgba(216, 73, 79, 1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .arrow-button-prev {
    left: 0;
  }
  
  .arrow-button-next {
    right: 0;
  }
  
  .arrow-button:hover {
    text-shadow: 0 0 7px rgba(216, 73, 79, 1);
  }

  .close {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
  }

  .close:hover {
    color:rgba(216, 73, 79, 1);;
  }

  