.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    width: 200px; /* Set the desired width for your images */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  