body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(26, 36, 77);
    color: whitesmoke;
}

.members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Individual member card */
.member-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.member-card {
    margin-top: 50px;
    margin: 20 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.member-card img {
    width: 150px;
    height: 200px;
    object-fit: cover; 
}

.member-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Add border and transition for smooth effect */
.member-card {
    border: 2px solid transparent;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border 0.3s ease-out;
}

/* Selected state styles */
.member-card.selected {
    border: 2px solid #ffffff;
}

/* Modal styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal-content {
    display: flex;
    position: relative;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 5px;
    padding-left: 40px;
    width: 40%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.close:hover {
    color: #000000;
}

/* Modal details animation */
.modal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.member-card.selected .modal-details {
    animation: slideInFromLeft 0.5s ease-out;
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Modal image styles */
.modal-image {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

/* Member information styles */
.member-info {
    width: auto;
    text-align: left;
    color: black;
}

p {
    padding-left: 20px;
    font-size: 20px;
}

h2 {
    padding-left: 20px;
}
