body {
    margin: 0;
    padding-top: 150px; /* Adjust this value based on your navbar height */
}

.navbar {
    height: 150px;
    width: 100%;
    background-image: url('/public/images/navbar.png');
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 1000;
}

a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 5px;
    outline: none; /* Remove the default focus outline */
}

a:hover,
a:focus {
    transform: scale(1.1);
    color: rgba(216, 73, 79, 1);
    text-shadow: 0 0 7px rgba(216, 73, 79, 1);
}

.title a {
    font-size: 50px;
    color: rgba(216, 73, 79, 1);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 7px rgba(216, 73, 79, 1);
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}